section.section.section--thanks
	.container-fluid.page__container
		header.section__header
			.section__container
				h3.typography--display-2
					| Thank you!
				h4.typography--display-1.typography--force-base-font Thank you for your attention. If you are looking for a design company, please <a href="">contact us</a> or <a href="">make order</a>.
		.btn-group.btn-group--social
			a.btn.btn--social.btn--social--facebook.active.jsShareButton(href='#', data-service='facebook')
				| <span class="btn__icon btn__icon--facebook">
				+icon('facebook')
				|</span>
				| <span>Facebook</span><span class="btn__counter">17</span>
			a.btn.btn--social.btn--social--twitter.active.jsShareButton(href='#', data-service='twitter')
				| <span class="btn__icon btn__icon--twitter">
				+icon('twitter')
				|</span>
				| <span>Twitter</span><span class="btn__counter">201</span>
			a.btn.btn--social.btn--social--google.jsShareButton(href='#', data-service='google')
				| <span class="btn__icon btn__icon--google-plus">
				+icon('google-plus')
				|</span>
				| <span>Google+</span><span class="btn__counter">5</span>
			a.btn.btn--social.btn--social--vkontakte.jsShareButton(href='#', data-service='vkontakte')
				| <span class="btn__icon btn__icon--vkontakte">
				+icon('vkontakte')
				|</span>
				| <span>VK</span><span class="btn__counter">852</span>
