footer.page-footer
	nav.page-footer__nav
		ul
			li <a href="">Contcat Us</a>
			li <a href="">Make Order</a>
			li <a href="">Portfolio</a>
			li <a href="">Dribbble</a>
			li <a href="">Behance</a>
			li <a href="">Facebook</a>
	p.page-footer__copyright
		| Copyright © 2016 Flatstudio. All Rights Reserved. Flatstudio creates complex UI/UX systems
	.page-footer__icon-heart
