// Colors

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #f7b64a !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;


// Options

$enable-flex:               true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Spacing

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
) !default;

$spacer-mobile:   13rem !default;
$spacer-x-mobile: $spacer !default;
$spacer-y-mobile: $spacer !default;
$spacers-mobile: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x-mobile,
    y: $spacer-y-mobile
  ),
  2: (
    x: ($spacer-x-mobile * 1.5),
    y: ($spacer-y-mobile * 1.5)
  ),
  3: (
    x: ($spacer-x-mobile * 3),
    y: ($spacer-y-mobile * 3)
  )
) !default;


$border-width:               1px !default;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


// Grid containers

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;


// Grid columns

$grid-columns:               12 !default;
$grid-gutter-width:          30px !default;


// Body

$body-bg:    #eceff5 !default;
$body-color: #282e33 !default;


// Links

$link-color:            #347bf6 !default;
$link-hover-color:      #3e82f7 !default;


// Typography

$preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$performance-font: 'Helvetica', 'Arial', sans-serif !default;

$heading-preferred-font: 'Montserrat', 'Helvetica', 'Arial', sans-serif !default;
$heading-performance-font: 'Helvetica', 'Arial', sans-serif !default;

$text-color-primary: black !default;
$target-elements-directly: true !default;

$font-family-base: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

$font-size-root: 16px !default;

$font-size-base: .875rem !default;
$font-size-md:   .75rem !default;
$font-size-lg:   .75rem !default;
$font-size-sm:   .75rem !default;
$font-size-xs:   .75rem !default;

$line-height-base: 1.4285 !default;
$line-height:      1.25 !default;

$font-size-h1: 2.125rem !default;
$font-size-h2: 1.5rem !default;
$font-size-h3: 1.25rem !default;
$font-size-h4: 1.125rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: .875rem !default;

$headings-margin-bottom:  .5rem !default;
$headings-font-family:    inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.2 !default;
$headings-color:          inherit !default;
$headings-link-color:     #333 !default;
$headings-link-hover-color: #efb03b !default;

$small-font-size: 80% !default;

$text-muted: #ccc !default;

$abbr-border-color: grey !default;

// List

$list-main-text-text-color: inherit !default;
$list-supporting-text-text-color: #a5c5e9 !default;
$list-icon-color: #a5c5e9 !default;
$list-avatar-color: inherit !default;

$list-border: 0 !default;
$list-min-height: 70px !default;
$list-min-padding: 0 !default;
$list-bottom-padding: 0 !default;
$list-avatar-text-left-distance: 90px !default;
$list-icon-text-left-distance: 90px !default;

$list-avatar-size: 70px !default;
$list-icon-size: 24px !default;

$list-two-line-height: 70px !default;
$list-three-line-height: 88px !default;


// Components

$line-height-md:         1.4285 !default;
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          100px !default;
$border-radius-lg:       100px !default;
$border-radius-sm:       100px !default;

$border-radius:          .125rem !default;
$border-radius-lg:       .125rem !default;
$border-radius-sm:       .2rem !default;

$component-active-color: #fff !default;
$component-active-bg:    $brand-primary !default;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lighter !default;


// Buttons

$btn-padding-x:                  .8rem !default;
$btn-padding-y:                  .4rem !default;
$btn-line-height:                1.25 !default;
$btn-font-weight:                normal !default;
$btn-box-shadow:                 none;
$btn-active-box-shadow:          none;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               #4e90da !default;
$btn-secondary-border:           #4e90da !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-sm:               .75rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.25rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-border-radius:              100px !default;
$btn-border-radius-lg:           100px !default;
$btn-border-radius-sm:           100px !default;

$btn-social-color: #a9b5bf !default;


// Forms

$input-padding-x:                .75rem !default;
$input-padding-y:                .375rem !default;

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             #eaeaea !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;

$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-border-focus:             #66afe9 !default;
$input-box-shadow-focus:         rgba(102,175,233,.6) !default;

$input-color-placeholder:        #999 !default;

$input-padding-x-sm:             .75rem !default;
$input-padding-y-sm:             .275rem !default;

$input-padding-x-lg:             1.25rem !default;
$input-padding-y-lg:             .75rem !default;

$input-height:                   (($font-size-md * $line-height) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$form-group-margin-bottom:       $spacer-y !default;

$input-group-addon-bg:           #fff !default;
$input-group-addon-border-color: $input-border-color !default;

$cursor-disabled:                not-allowed !default;

// Form validation icons
$form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==" !default;
$form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+" !default;
$form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=" !default;
